@import "./variables/breakpoints.module";

.visually-hidden:not(:focus):not(:active) {
  clip-path: inset(50%);
  height: 1px;
  overflow: hidden;
  position: absolute;
  white-space: nowrap;
  width: 1px;
}

body {
  margin: 0 auto;

  background-color: black;

  font-family: "Playfair Display", "Helvetica Neue", sans-serif;

  overscroll-behavior: none;
}

//Assigning names for grid.module.scss
@for $i from 1 through 23 {
  #gridItem#{$i} {
    grid-area: item#{$i};
  }
}

.hideSmall {
  display: none;

  @media (min-width: $breakpointL) {
    display: inherit;
  }
}

.hideMedium {

  @media (min-width: $breakpointXL) and (max-width: $breakpointXXL) {
    display: none;
  }
}