@import "../../../../../../styles/variables/font.module";
@import "../../../../../../styles/variables/color.module";
@import "../../../../../../styles/variables/distance.module";
@import "../../../../../../styles/variables/breakpoints.module";

.gridFormPartial1 {

  &Header {
    padding-top: 15%;
    display: flex;
    justify-content: center;

    & > svg {
      width: 58%;
      aspect-ratio: 5.48 / 1;

      fill: $color-grid-item-text;
    }
  }

  &Container {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    height: 100%;
    gap: 5%;
  }

  &Legend {
    padding-top: 10%;
    font-size: clamp(
            $font-grid-item-legend-min,
            $font-grid-item-legend-mobile,
            $font-grid-item-legend-max
    );
    text-align: center;
  }

  &InputContainer {
    display: flex;
    flex-direction: row;
    width: 70%;
    border: 1px solid $color-grid-item-text;

    & input[type="checkbox"]:checked ~ label {
      background-color: $color-grid-item-text-background-checked;
      color: $color-grid-item-text-checked;
    }

    & input[type="checkbox"]:checked ~ label::before {
      background-color: $color-grid-item-text-background;
      color: $color-grid-item-text-before-checked;
    }

    & input[type="checkbox"] {
      display: none;
    }
  }

  &Label {
    position: relative;
    width: 100%;
    padding: 5px;

    line-height: 1.5;
    font-weight: normal;
    font-size: clamp(
            $font-grid-item-label-min,
            $font-grid-item-label-mobile,
            $font-grid-item-label-max
    );

    &::before {
      content: attr(data-inputoption);
      padding: 0.5% 2%;
      margin-right: clamp(4px, 3%, 15px);

      background-color: $color-header-background;
      color: $color-grid-item-text-checked;
    }

    cursor: pointer;
  }

  &Button {

  }

  @media (min-width: $breakpointL) {

    &InputContainer {
      width: 80%;
    }

    &Legend {
      font-size: clamp(
              $font-grid-item-legend-min,
              $font-grid-item-legend-desktop,
              $font-grid-item-legend-max
      );
    }

    &Label {
      font-size: clamp(
              $font-grid-item-legend-min,
              $font-grid-item-label-desktop,
              $font-grid-item-legend-max
      );
    }

    * > svg {
      width: 70%;
    }
  }

  @media (min-width: $breakpointXL) {

    &Legend {
      font-size: clamp(
              $font-grid-item-legend-min,
              $font-grid-item-legend-desktopXL,
              $font-grid-item-legend-max
      );
    }

    &Label {
      font-size: clamp(
              $font-grid-item-legend-min,
              $font-grid-item-label-desktopXL,
              $font-grid-item-legend-max
      );
    }

    &InputContainer {
      width: 60%;
    }

    * > svg {
      width: 70%;
    }
  }

  @media (min-width: $breakpointXXL) {
    &Legend {
      font-size: clamp(
              $font-grid-item-legend-min,
              $font-grid-item-legend-desktopXXL,
              $font-grid-item-legend-max
      );
    }

    &Label {
      font-size: clamp(
              $font-grid-item-legend-min,
              $font-grid-item-label-desktopXXL,
              $font-grid-item-legend-max
      );
    }

     svg {
      width: 75%;
    }
  }
//  TODO: header stopped scaling
}