@import "../../../../../../../../styles/variables/font.module";
@import "../../../../../../../../styles/variables/color.module";
@import "../../../../../../../../styles/variables/distance.module";
@import "../../../../../../../../styles/variables/breakpoints.module";

.gridFormPartial2 {

  &MailContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 1%;
    width: 70%;
    gap: 30%;
  }

  &Label {
    font-size: clamp(
            $font-grid-item-legend-min,
            $font-grid-item-legend-mobile,
            $font-grid-item-legend-max
    );
    text-align: center;
  }

  &InputContainer {
    display: flex;
    justify-content: space-evenly;
    margin-top: 5%;
  }

  &Input {
    flex-grow: 1;
    margin: 0;
    padding-inline: 5px;
    border: 1px solid grey;

    background-color: $color-grid-item-text-background;

    font-family: inherit;
    font-size: inherit;
    color: $color-grid-item-text;

    &:focus {
      outline: 0 !important;
    }

    &:focus-visible,
    &:active {
      border-color: $color-grid-item-text-background-checked;
    }
  }

  &Button {
    margin: 0;
    padding: 0;
    border: 0;
    min-height: 100%;
    display: flex;

    cursor: pointer;

    & > svg {
      --size: 47px;

      width: var(--size);
      height: var(--size);

      & > rect {
        width: inherit;
        height: inherit;
        stroke: $color-grid-item-text-background-checked;
        fill: $color-grid-item-text-background-checked;
      }

      & > path {
        fill: $color-grid-item-text-background;
      }
    }

    &:hover > svg > rect,
    &:focus-visible > svg > rect {
      fill: $color-grid-item-text-background;
      stroke: $color-grid-item-text-background-checked;
    }

    &:hover > svg > path,
    &:focus-visible > svg > path {
      fill: $color-grid-item-text-background-checked;
    }
  }

  @media (min-width: 370px) {
    &InputContainer {
      width: calc(100% + $padding-partial2);
    }
  }

  @media (min-width: $breakpointL) {

    &Label {
      font-size: clamp(
              $font-grid-item-legend-min,
              $font-grid-item-legend-desktop,
              $font-grid-item-legend-max
      );
    }

    &MailContainer {
      width: 80%;
    }
  }

  @media (min-width: $breakpointXL) {

    &Label {
      font-size: clamp(
              $font-grid-item-legend-min,
              $font-grid-item-legend-desktopXL,
              $font-grid-item-legend-max
      );
    }

    &InputContainer {
      width: calc(80% - $padding-partial2);
    }
  }

  @media (min-width: $breakpointXXL) {

    &Label {
      font-size: clamp(
              $font-grid-item-legend-min,
              $font-grid-item-legend-desktopXXL,
              $font-grid-item-legend-max
      );
    }

    &InputContainer {
      width: calc(76% + $padding-partial2);
    }
  }
}
