@import "../../styles/variables/color.module";
@import "../../styles/variables/breakpoints.module";

.header {
  position: sticky; //keep at least relative for nav (hamburger), if present

  top: 0;
  z-index: 101; //higher than grid-item

  display: flex;
  padding: 13px 5px;

  background-color: $color-header-background;

  text-decoration: none;
  color: inherit;
  
  @media (min-width: $breakpointL) {

    padding: 44px 5px 39px 5px;

  }
}