@import "../../../../styles/variables/font.module";
@import "../../../../styles/variables/color.module";
@import "../../../../styles/variables/distance.module";

.gridItem {

  &Text {
    display: flex;
    justify-content: center;
    align-items: center;

    background-color: $color-grid-item-text-background;

    font-size: $font-size-grid-item-mobile;
    font-weight: normal;
    color: $color-grid-item-text;

    cursor: pointer;

    transition: $transition;
  }

  &Modal {

    &Overlay {
      position: fixed;

      inset: 0;
      top: 52px;
      width: 100%;
      height: 100%;

      //enables proper scrolling of the modal
      overflow: auto;
      overscroll-behavior: contain;

      display: flex;
      flex-direction: column;
      align-items: center;
      gap: 8%;

      background-color: $color-grid-item-text-background;

      animation: slideRight 0.8s cubic-bezier(0.5, 0.9, 0.440, 1.000);

      will-change: auto;

      &:hover {
        will-change: content;
      }
    }

    &Close {
      all: unset;

      position: absolute;
      top: 30px;
      right: 30px;
      width: 32px;
      height: 32px;

      cursor: pointer;

      & > * {
        fill: $color-grid-item-text;
      }
    }


    &Header,
    &Container {
            color: $color-grid-item-text;
    }

    &Header {
      padding-top: 52px;

      font-size: 24px;
      font-weight: normal;

    }

    &Container {
      display: flex;
      flex-direction: column;
      gap: 30px;
      padding-inline: 20px;

      & > p {
        line-height: 1.5;
      }
    }
  }
}

@keyframes slideRight {
  0% {
    transform:translateX(50%);
  }
  100% {
    transform:translateX(0);
  }
}