@import "./../../../../../../styles/variables/font.module";
@import "./../../../../../../styles/variables/color.module";
@import "./../../../../../../styles/variables/breakpoints.module";

.gridItemSurveyThankYou {

  &Container {

    display: flex;
    flex-direction: column;
    padding-top: 20%;
    gap: 25%;

    & > svg {
      //width: 100%;
      height: 40%;

      & > path {
        fill: $color-grid-item-text-background-checked;
      }

      @media (min-width: $breakpointM) and (max-width: $breakpointL) {
        height: 50%;
      }
    }
  }
  &Text {
    --increasedFont: 0.35rem;

    font-size: clamp(
            $font-grid-item-legend-min,
            $font-grid-item-legend-mobile + var(--increasedFont),
            $font-grid-item-legend-max
    );
    text-align: center;

    @media (min-width: $breakpointL) {
      font-size: clamp(
              $font-grid-item-legend-min,
              $font-grid-item-legend-desktop + var(--increasedFont),
              $font-grid-item-legend-max
      );
    }

    @media (min-width: $breakpointXXL) {
      font-size: clamp(
              $font-grid-item-legend-min,
              $font-grid-item-legend-desktopXXL + var(--increasedFont),
              $font-grid-item-legend-max
      );
    }
  }
}
