@import "../../../../../styles/variables/color.module";
@import "../../../../../styles/variables/distance.module";

.gridForm {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;

  background-color: $color-grid-item-text-background;
  color: $color-grid-item-text;

  transition: $transition;

  z-index: 100;
}