@import "../../../../../styles/variables/font.module";
@import "../../../../../styles/variables/color.module";
@import "../../../../../styles/variables/distance.module";

.gridItemPicture {
    position: relative;
    object-fit: cover;
    aspect-ratio: 1 / 1;

    background-color: $color-grid-item-text-background;

    transition: $transition;
}