@import "../../../../../styles/variables/font.module";
@import "../../../../../styles/variables/color.module";
@import "../../../../../styles/variables/distance.module";
@import "../../../../../styles/variables/breakpoints.module";

.gridItem {

  &Text {
    display: flex;
    justify-content: center;
    align-items: center;
    aspect-ratio:  1 / 1;

    background-color: $color-grid-item-text-background;
    overflow: hidden;

    font-size: clamp(
            $font-size-grid-item-min,
            $font-size-grid-item-mobile,
            $font-size-grid-item-max
    );
    font-weight: normal;
    color: $color-grid-item-text;
    text-align: center;
    word-break: break-word;

    cursor: pointer;

    transition: $transition;

    @media (min-width: $breakpointL) {
      font-size: clamp(
              $font-size-grid-item-min,
              $font-size-grid-item-tablet,
              $font-size-grid-item-max
      );
    }
    @media (min-width: $breakpointXL) {
      font-size: clamp(
              $font-size-grid-item-min,
              $font-size-grid-item-desktop,
              $font-size-grid-item-max
      );
    }

    @media (min-width: $breakpointXXL) {
      font-size: clamp(
              $font-size-grid-item-min,
              $font-size-grid-item-desktopXL,
              $font-size-grid-item-max
      );
    }
  }

  &Modal {

    &Overlay {
      position: fixed;

      inset: 0;
      top: 52px;
      width: 100%;
      min-height: 100%;

      //enables proper scrolling of the modal
      overflow: auto;
      overscroll-behavior-y: contain;

      display: flex;
      flex-direction: column;
      align-items: center;
      gap: 8%;

      padding-bottom: 20%;
      background-color: $color-grid-item-text-background;

      animation: slideRight 0.8s ease-in-out;

      @media (min-width: $breakpointM) {
        top: 72px;
      }
      @media (min-width: $breakpointL) {
        //top: 147px;
        top: 25%;
        bottom: 15%;
        left: 10%;
        right: 10%;
        width: auto;
        height: auto;
      }
      @media (min-width: $breakpointXL) {

      }
    }

    &Close {
      all: unset;

      position: absolute;
      top: 30px;
      right: 30px;
      width: 32px;
      height: 32px;

      cursor: pointer;

      & > * {
        fill: $color-grid-item-text;
      }
    }


    &Header,
    &Container {
            color: $color-grid-item-text;
    }

    &Header {
      padding-top: 52px;

      font-size: $font-size-grid-item-modal-header-mobile;
      font-weight: normal;

    }

    &Container {
      display: flex;
      flex-direction: column;
      gap: 30px;
      padding-inline: 9.45%;

      & > p {
        font-size: $font-size-grid-item-modal-paragraph-mobile;
        line-height: $line-height-grid-item-modal-paragraph;
        
        @media (min-width: $breakpointM) {
          font-size: $font-size-grid-item-modal-paragraph-tablet;
        }
        @media (min-width: $breakpointL) {
          font-size: $font-size-grid-item-modal-paragraph-desktop;
        }
        @media (min-width: $breakpointXXL) {
          font-size: $font-size-grid-item-modal-paragraph-desktopXL;
        }
      }
    }
  }
}

@keyframes slideRight {
  0% {
    transform:translateX(100%);
  }
  100% {
    transform:translateX(0);
  }
}