$color-header-font: #000;
$color-header-font-dark: #FFF;
$color-header-background: #FFF;
$color-header-background-dark: #000;
$color-grid-item-text-background: #000;
$color-grid-item-text-background-checked: #FFF;
$color-grid-item-text-background-before-checked: #000;
$color-grid-item-text: #FFF;
$color-grid-item-text-checked: #000;
$color-grid-item-text-before-checked: #FFF;

$color-modal-overlay: rgba(0,0,0,0.6);
