$font-header-family: "Playfair Display", "Helvetica neue", sans-serif;
$font-header-size: 55px;
$font-header-weight: 700;
$line-header-height: 57px;
$letter-header-spacing: 0px;
$text-header-align: left;

$font-size-grid-item-min: 0.7rem;
$font-size-grid-item-mobile: calc(3.5vw + 0.2rem);
$font-size-grid-item-tablet: calc(2.9vw + 0.2rem);
$font-size-grid-item-desktop: calc(2.2vw + 0.2rem);
$font-size-grid-item-desktopXL: calc(1.5vw + 0.2rem);
$font-size-grid-item-max: 3.5rem;

$font-size-grid-item-modal-header-mobile: 1.5rem; //24px
$font-size-grid-item-modal-header-tablet: 1.5rem; //24px
$font-size-grid-item-modal-header-desktop: 1.5rem; //24px
$font-size-grid-item-modal-header-desktopXL: 1.5rem; //24px

$font-size-grid-item-modal-paragraph-mobile: 1rem; //16px
$font-size-grid-item-modal-paragraph-tablet: 1.2rem; //19px
$font-size-grid-item-modal-paragraph-desktop: 1rem; //16px
$font-size-grid-item-modal-paragraph-desktopXL: 1rem; //16px
$line-height-grid-item-modal-paragraph: 1.8; //16px

$font-grid-item-legend-min: 7px;
$font-grid-item-legend-mobile: calc(3.3vw + 0.2rem);
$font-grid-item-legend-desktop: calc(1.8vw + 0.2rem);
$font-grid-item-legend-desktopXL: calc(2vw + 0.2rem);
$font-grid-item-legend-desktopXXL: calc(1vw + 0.2rem);
$font-grid-item-legend-max: 3rem;

$font-grid-item-label-min: 5px;
$font-grid-item-label-mobile: calc(2.5vw + 0.2rem);
$font-grid-item-label-desktop: calc(1.3vw + 0.2rem);
$font-grid-item-label-desktopXL: calc(1vw + 0.2rem);
$font-grid-item-label-desktopXXL: calc(0.5vw + 0.2rem);
$font-grid-item-label-max: 3rem;