$font-header-family: "Playfair Display", "Helvetica neue", sans-serif;
$font-header-size: 55px;
$font-header-weight: 700;
$line-header-height: 57px;
$letter-header-spacing: 0px;
$text-header-align: left;

$font-size-grid-item-mobile: 1rem; //16px;
$font-size-grid-item-desktopXL: 2.5rem; //40px;

$font-grid-item-legend-min: 7px;
$font-grid-item-legend-mobile: 70%;
$font-grid-item-legend-tablet: 50%;
$font-grid-item-legend-desktop: 70%;
$font-grid-item-legend-desktopXL: 50%;
$font-grid-item-legend-max: 3rem;

$font-grid-item-label-min: 5px;
$font-grid-item-label-mobile: 45%;
$font-grid-item-label-tablet: 35%;
$font-grid-item-label-desktop: 45%;
$font-grid-item-label-desktopXL: 35%;
$font-grid-item-label-max: 3rem;